<!DOCTYPE html>
<html>

<head>
  <%- include("head") %>
    <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
</head>

<body class="default" data-bs-theme="dark">
  <%- include("navbar") %>

    <div class="container">

      <form class="form-signin" method="post" action="/user/register">
        <h2 class="form-signin-heading text-center">Editar Perfil</h2>


        <label for="registerName">Nombre Completo</label>
        <input type="text" id="registerName" name="registerName" class="form-control"
          placeholder="Escriba su nombre completo" required="required">
          <div id="name-error"></div>


        <label for="registerEmail">Correo Eléctronico</label>
        <input type="email" id="registerEmail" name="registerEmail" class="form-control"
          placeholder="example@domain.com" required="required">
        <div id="email-error"></div>

        <label for="registerPassword">Contraseña</label>
        <div class="input-group">
          <input type="password" id="registerPassword" name="registerPassword" class="form-control"
            placeholder="Contraseña" required="required">
          <div class="input-group-append">
            <button type="button" id="mostrarRegisterPassword"
              class="btn btn-accesibilidad outline toggle-password-btn">Mostrar</button>
          </div>
        </div>
        <div id="password-error"></div>


        <label for="registerPhone">Número de telefono</label>
        <input type="tel" id="registerPhone" name="registerPhone" class="form-control" placeholder="+34 123 456 789"
          size="12">
        <div id="phone-error"></div>

        <label for="facultad" class="form-label">Facultad</label>
        <select id="facultad" name="facultad" class="form-select" required>
          <% facultades.forEach(facultad => { %>
            <option><%= facultad.Nombre %></option>
          <% }); %>
        </select>

        <div class="roles-container text-center">
          <input type="radio" class="btn-check" name="role" id="role-admin"  value="organizador" autocomplete="off"
            checked>
          <label class="btn btn-accesibilidad outline" for="role-admin">Organizador</label>

          <input type="radio" class="btn-check" name="role" id="role-user"  value="asistente" autocomplete="off">
          <label class="btn btn-accesibilidad outline" for="role-user">Asistente</label>
        </div>



        <div class="text-center mt-3">
          <button id="registerButton" class="btn btn-accesibilidad outline  btn-lg" type="submit" disabled>
            <i class="fa-regular fa-clipboard"></i> Registrar</button>
        </div>

      </form>

      <div id="createdAlert"></div>

    </div>

    <%- include("footer") %>
      <script src="/javascripts/registro.js"></script>
</body>

</html>