<!DOCTYPE html>
<html>

<head>
  <%- include("head") %>
    <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
</head>

<body class="default" data-bs-theme="dark">
  <%- include("navbar") %>

    <div class="container">
      <!--modificar con ejs en vez de thymleaf
        
        <p th:if="${registroExitoso}" class="eslogan registro-message" th:text="${registroExitoso}">Registro llevado a
          cabo
          con exito. Por favor, inicie sesión.</p> -->
      <form class="form-signin" method="post">
        <h2 class="form-signin-heading text-center">Por favor, inicie sesión</h2>

        <label for="loginEmail">Correo electrónico</label>
        <input type="email" id="loginEmail" name="loginEmail" class="form-control" placeholder="Correo electrónico"
          required="required">

        <label for="loginPassword" >Contraseña</label>
        <div class="input-group">
          <input type="password" id="loginPassword" name="loginPassword" class="form-control" placeholder="Contraseña"
            required="required">
          <div class="input-group-append">
            <button type="button" id="mostrarLoginPassword"
              class="btn btn-accesibilidad outline toggle-password-btn">Mostrar</button>
          </div>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-accesibilidad outline  btn-lg " type="submit">
            <i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión</button>
        </div>

      </form>
      <!-- Texto para animar al usuario a registrarse -->
      <div class="text-center mt-3">
        <a class="register-text" href="/user/register">¿No tienes una cuenta? Regístrate
          aquí.</a>
      </div>

      <div id="createdAlert"></div>

    </div>

    <%- include("footer") %>
    <script src="/javascripts/login.js"></script>
</body>

</html>