<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("fragments/head") %>
</head>

<body>
    <%- include("fragments/navbar") %>
    <%- include("fragments/accesibilidad") %>

    <div class="form-content form-default">

        <form class="form-signin" method="post">
            <h2 class="form-signin-heading text-center">Por favor, inicie sesión</h2>

            <label for="resetEmail">Correo electrónico</label>
            <input type="email" id="resetEmail" name="resetEmail" class="form-control"
                placeholder="Correo electrónico" required="required">

            <label for="resetPassword">Contraseña</label>
            <div class="input-group">
                <input type="password" id="resetPassword" name="resetPassword" class="form-control"
                    placeholder="Contraseña" required="required">
                <div class="input-group-append">
                    <button type="button" id="mostrarLoginPassword"
                        class="btn btn-accesibilidad outline toggle-password-btn">Mostrar</button>
                </div>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-accesibilidad outline  btn-lg " type="submit">
                    <i class="fa-solid fa-right-to-bracket"></i> Cambiar contraseña</button>
            </div>

        </form>
        

        <div id="createdAlert"></div>

    </div>
            

    <%- include("fragments/footer") %>
</body>

</html>