body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main-container{
  padding: 2rem;
}

.navbar{
  padding: 1rem;  
}

.logoText{
  font-size: 24px;
  font-weight: bold;
}

a {
  color: #00B7FF;
}

.default {
  background: linear-gradient(#845ec2, #008f7a);
}

.stock_bg{
  position:static;
  width: 100vh;


}

.btn-accesibilidad:hover , .btn-accesibilidad.outline:hover , .btn-accesibilidad.active{
  color: white;
  background-color:#00c9a7 ;
  border-color: #4d8076;
}

.btn-accesibilidad{
  color: white;
  background-color:#00c9a7 ;
  border-color: #4d8076;
}

.btn-accesibilidad.outline {
  color: #00c9a7;
  background-color:#00c9a700 ;
  border-color: #00c9a7;
}



