<!doctype html>

<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 ">

  <div class="text-center" >
    
  </div>

  <a href="/" class="footer-link text-body-secondary">
    © 2024 OrgaNice
  </a>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/javascripts/accesibilidad.js"></script>
</footer>

</html>