<!DOCTYPE html>
<html>

<body>
    <header>
        <nav class="navbar navbar-expand-lg  navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- LOGOTIPO -->
                <a class="navbar-brand" href="/user">
                    <img src="/images/AW_logo_white.svg" alt="Logo de la página" class="nav_logo">
                    <span class="logoText text-body-emphasis">OrgaNice</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <% if(isLogged){%>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-solid fa-user"></i> <%= username %>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/user/editarPerfil"><i class="fa-solid fa-user-pen"></i> Editar perfil</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link " href="/viewEvents"><i class="fa-solid fa-clipboard"></i> Eventos</a>
                        </li>
                        <li>
                            <a class="nav-link " href="/calendar"><i class="fa-solid fa-calendar"></i> Calendario</a>
                        </li>
                        <%}%>

                        
                    </ul>

                    <div class="button-container">
                        <% if (!isLogged) {%>
                            <a href="/user/login">
                                <button class="index btn btn-accesibilidad ">
                                    <i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión</button>
                            </a>
            
            
                            <a href="/user/register">
                                <button class="index btn btn-accesibilidad ">
                                    <i class="fa-regular fa-clipboard"></i> Registro </button>
                            </a>
        
                        <%} else{ %>
        
                             <!-- Boton que activa el menu de Accesibilidad -->
                             <div class="navbar-nav">
                                <button class="index btn btn-info outline"  id="notificationsButton"> <i class="fa-solid fa-bell"></i>
                                    Notificaciones</button>
                            </div>

                            <div class="navbar-nav">
                                <button class="index btn btn-accesibilidad outline" data-bs-toggle="modal"
                                    data-bs-target="#menuAccesibilidad"> <i class="fa-solid fa-universal-access"></i>
                                    Accesibilidad</button>
                            </div>
        
                            <a href="/user/logout">
                                <button class="index btn btn-danger ">
                                    <i class="fa-solid fa-right-to-bracket"></i> Cerrar sesión </button>
                            </a>
        
                        <% } %>
    
                    </div>


                </div>
            
            </div>
        </nav>

    </header>
    <!-- Modal de Notificaciones -->
<div class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="notificationsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="notificationsModalLabel">Notificaciones</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div id="notificationsContent">
                    <p class="text-muted text-center">Cargando notificaciones...</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

    
</body>

</html>